@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,600&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  scroll-padding-top: 1rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.logo img {
  width: 40px;
  margin-right: 8px;
  margin-left: 10px;
}

.display-4 {
  margin-top: 15rem;
}

.jumbotron {
  background-image: url(Tempat-Wisata-di-Jakarta.webp);
  background-attachment: fixed;
  color: white;
  background-size: cover;
  background-position: 0 -100px;
  padding-top: 0.987rem;
  text-shadow: 100px;
}

.collapse {
  margin-right: 7rem;
}

#album {
  border-radius: 5rem;
}

section {
  padding-top: 5rem;
}

footer {
  background-color: #ff5405;
}

link {
  display: none;
}
